*.apk
/JEngine/Library/ShaderCache
/JEngine/obj
/JEngine/Library
/Afro-Viking/Afro-Viking.sln
/Afro-Viking/Assembly-CSharp.csproj
/Afro-Viking/ProjectSettings/ProjectVersion.txt
/Afro-Viking/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/Afro-Viking/Temp/UnityTempFile-421839db359d3a74d9ff96a5ec7cdf7c
/Afro-Viking/Temp/__EditModeScene
/Afro-Viking/Assets/Game/Scripts/Panels.meta
